html {
  font-family: Garamond;
  font-weight: bolder;
}

#logo img{
  position: fixed;
  width: 30%;
  height: 30%;
  padding:0%;
}
#contacts {
  position: fixed;
  text-align: center;
  top: 30%;
  width: 20%;
  padding:5%;
}

#links {
  display: inline-block;
  position: fixed;
  top:  3em;
  right:22%;
}
.content {
position: absolute;
top: 12%;
left: 35%;
}