html {
  font-family: Garamond;
  font-weight: bolder;
  width: 100%;
  height:100%;
}

#logo img{
  position: fixed;
  width: 30%;
  height: 30%;
  padding:0%;
}
#contacts {
  display: block;
  position: fixed;
  text-align: center;
  font-size: 2vw;
  top: 30%;
  width: 20%;
  padding:5%;
}

#links {
  display: inline-block;
  position: fixed;
  top:  3em;
  right:22%;
}
#image {
  margin: 1%;
  padding: 1%;
  position: absolute;
  top: 27%;
  left: 35%;
  width: 100%;
  height: 100%;
}
#example {
  max-width: auto;
  height: auto;
  margin-right: 5%;
  margin-left: 5%;
}

.content {
position: absolute;
top: 12%;
left: 35%;
margin-left: 3%;
margin-right: 3%;
}
.content2 {
position: absolute;
top: 70%;
left: 35%;
margin: 3%;
}


