<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="blog-template-stylesheet-new.css"/>
    <title> Peter Learns to Code</title>
  </head>
  <body>
    <div>
      <h1> Peter Learns to Code
      </h1>
    </div>
    <div class="leftblock">
      <h3> Peter Soderberg </h3>
      <ul>
      <il><a href="mailto:PTSoderberg@gmail.com">PTSoderberg@gmail.com</a></il>

      <img src="me.png">
      </ul>
    </div>

    <div class="main">
    <p> I know you've been dying to see what the actual source code Berkshire Hathaway uses. Thankfully, you can see it pretty easily. Most browsers display source code when CTRL+U is pressed.I know you've been dying to see what the actual source code Berkshire Hathaway uses. Thankfully, you can see it pretty easily. Most browsers display source code when CTRL+U is pressed.
    </p>
    </div>
    <div class="main">
    <p> I know you've been dying to see what the actual source code Berkshire Hathaway uses. Thankfully, you can see it pretty easily. Most browsers display source code when CTRL+U is pressed.
    </p>
    </div>
  </body>
  </html>