<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="toast.css"/>
    <title> Peter Soderberg</title>
  </head>
  <div id="logo">
    <IMG SRC="PTS-Logo.png">
  </div>
  <div>
  <body>
      <p>
      I'd love nothing more than to be gathered around a beautiful table surrounded by a delightful group, maybe even drooling just a little thinking about the meats I'd just grilled, but this couldn't be.  Thanks for giving me a little time to learn how to bang out a website.
      Here's to Liz, a perfect host, even if I can't be there.
      And maybe do some duck farts for me.
      XO PTS
    </p>
    <img src="duck-fart2.jpg">
  </body>
</html>
